<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/sobre">Sobre ISUR</a></li>
	        		<li><a href="/equipo">Equipo</a></li>
				<li><a href="/investiga">Investigación</a></li>
				<li><a href="/eventos">Eventos</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:isur@urosario.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
